@font-face {
  font-family: "iconfont"; /* Project id 3597856 */
  src: url('@/static/font/iconfont.woff2?t=1660964161836') format('woff2'),
       url('@/static/font/iconfont.woff?t=1660964161836') format('woff'),
       url('@/static/font/iconfont.ttf?t=1660964161836') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 36px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anniu:before {
  content: "\e690";
}

.icon-danhangshurukuang:before {
  content: "\e692";
}

.icon-duohangshurukuang:before {
  content: "\e693";
}

.icon-kaiguan:before {
  content: "\e696";
}

.icon-wenben:before {
  content: "\e69e";
}

.icon-tubiao:before {
  content: "\e64a";
}

.icon-xuanxiang:before {
  content: "\e66b";
}

.icon-tuxiang:before {
  content: "\e6d1";
}

.icon-huadongshuru:before {
  content: "\e64b";
}

.icon-jindutiao_fuzhi:before {
  content: "\e604";
}

